* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 50px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.login-border {
  border: 3px solid black;
  padding: 3em;
  border-radius: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 0.5em 1.8em;
  border: 0.1em solid #ffffff;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  transition: all 0.8s;
  cursor: pointer;
}

.button:hover {
  color: #000;
  background-color: #aaa;
}

.button:disabled {
  visibility: hidden;
}

.error {
  color: #f00;
}

.margin {
  margin-top: 15px;
  margin-bottom: 20px;
}

.field {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}

.margin-bottom {
  margin-bottom: 50px;
}

ul {
  padding: 0;
  background: #000;
}

li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

li > button {
  border: none;
  display: block;
  padding: 10px;
  color: #fff;
  background: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

li > button:hover {
  background-color: #666;
  transition: all 0.2s;
}

.lower-width {
  width: 90%;
}

.full-width {
  width: 100%;
}

.hover-border {
  padding: 20px;
}

.hover-border:hover {
  background-color: #aaa;
}

#App {
  height: 100vh;
}

#page-wrap {
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  border: none;
  display: block;
  padding: 10px;
  color: #fff;
  background: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.menu-item:hover {
  background-color: #666;
  transition: all 0.5s;
}

.glyphicon {
  color: white;
}

.dark-icon {
  background-color: black;
}
